<h1>Rental # <%= @rental.id %></h1>
<p><b>Check-out date</b> <%= @rental.checkout_date %></p>
<p><b>Check-in date</b> <%= @rental.checkin_date %></p>
<p><b>Active:</b> <%= @rental.active %></p>
<p><b>Book: </b> <%= Book.find(@rental.book_id).title %></p>

<% if current_user.admin? %>
	<%= button_to "Finalize rental", rental_path(@rental), method: :patch%>
	<%= button_to "Destroy rental", rental_path(@rental), method: :delete%>
<% end %>
