<div class="title-show">
	<h1>Rental # <%= @rental.id %> </h1>
	<div>
	<% if @rental.active %>
		<span class="label label-success">Active</span>
	<% else %>
		<span class="label label-danger">Inactive</span>
	<% end %>		
	</div>
</div>

<div class="rental-dates">
	<div class="due-date due-date-start"><b>Check-out date:</b> </br> <%= @rental.checkout_date %></div>
	<div class="due-date"><b>Check-in date:</b> </br> <%= @rental.checkin_date %></div>
</div>

<div class="library">
	<h2>Book: </h2>
	<%= link_to(book_path(@book), class: "book-item") do%>
		<h2><%= @rental.book%> </h2>
		<p><b>Author:</b>	<%= @book.author %></p>
		<p><b>Caregory:</b> <%= @book.category %></p>
	<% end %>
</div>
<% content_for :right_pane do %>
	<% if current_user.admin? %>
		<%= button_to "Finalize rental", rental_path(@rental), method: :patch%>
		<%= button_to "Destroy rental", rental_path(@rental), method: :delete%>
	<% end %>
<% end %>
