<h1>Library</h1>

<%= paginate @books %>
<div class="library">
<% @books.each do |book|  %>
	<%= link_to(book, class: "book-item active-#{book.check_out}") do%>
		<h2>
			<%= book.title %> 
			<% if book.check_out %>
				<span class="label label-warning">Rented</span>
			<% end %>				
		</h2> 

		<p><b>Author:</b>	<%= book.author %></p>
		<p><b>Caregory:</b> <%= book.category %></p>
		
	<% end %>
<% end %>
</div>

<%if current_user.admin?%>

	

<% end %>

<% content_for :right_pane do %>

	<div class="filters">
	<h2> Filters:</h2>
		<%= form_with url: books_path, method: :get do |form| %>
		  <div class="input-group">
			  <span class="input-group-addon"><%= form.label :author, "By author:" %></span>
			  <%= form.text_field :author, class:"form-control" %>
		  </div>

		  <div class="input-group">
			  <span class="input-group-addon"><%= form.label :category, "By category:" %></span>
			  <%= form.text_field :category, class:"form-control" %> 
		  </div>

		  <h3>Filter by availability:</h3>
		  <div class="input-group">
			  <span class="input-group-addon"><%= form.radio_button :status, "false" %> </span>
			  <%= form.label :status, "Available to rent", class:"form-control" %> 
		  </div>
		  <div class="input-group">
			  <span class="input-group-addon"><%= form.radio_button :status, "true" %></span>
			  <%= form.label :status, "Rented", class:"form-control" %> 
		  </div>
	  	<%= form.submit "Filter", class:"btn" %>
	   <% end %>
	</div>

	<%= button_to "Add new book", new_book_path, method: :get if current_user.admin?%>
<% end %>