<h1>Library</h1>

<div class="library">
<% @books.each do |book|  %>
	<%= link_to(book, class: "book-item active-#{book.check_out}") do%>
		<h2><%= book.title %></h2>
		<p><b>Author:</b>	<%= book.author %></p>
		<p><b>Caregory:</b> <%= book.category %></p>
		
	<% end %>
<% end %>
</div>

<%if current_user.admin?%>

	<%= link_to "Add new book", new_book_path%>

<% end %>

<% content_for :right_pane do %>
	<%= form_with url: books_path, method: :get do |form| %>
	  <%= form.label :author, "Filter by author:" %>
	  <%= form.text_field :author %> </br>
	  <%= form.label :category, "Filter by category:" %>
	  <%= form.text_field :category %> </br>
	  <%= form.radio_button :status, "false" %>
	  <%= form.label :status, "Available to rent" %> </br>
	  <%= form.radio_button :status, "true" %>
	  <%= form.label :status, "Rented" %> </br>
  	<%= form.submit "Filter" %>

<% end %>
<% end %>