<h1><%= @book.title %></h1>
<p><b>Author:</b> <%= @book.author %></p>
<p><b>Category:</b> <%= @book.category %></p>
<p><b>Checked out:</b> <%= @book.check_out %></p>

<% if current_user.admin? %>
	<%= button_to "Delete book", book_path(@book), method: :delete %>
	<%= button_to "Take out this book", new_rental_path(@book), method: :get%>
<% end %>

<% unless current_user.admin? %>
	<%= button_to "Take out this book", rentals_path(:rental => {:book_id => @book.id, :user_id => current_user.id}), method: :post %>
<% end %>


