<!DOCTYPE html>
<html>
  <head>
    <title>library_sys</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-center-cont">
        <div class="left-align">
          <%= link_to(root_path) do %>
            <h1>library_sys</h1>
          <% end %>
          <%= link_to "Books", books_path %>
          <%= link_to "Add User", new_user_registration_path if user_signed_in? and current_user.admin?%>
        </div>
        <div class="right-align btn-group">
          <% if user_signed_in? %>
            <%= button_to 'Rentals', rentals_path, class:"btn", role:"group", method: :get %>
            <%= button_to 'Sign-out', destroy_user_session_path, class:"btn", role:"group", method: :delete%>
          <% else %>
            <%= button_to 'Sign-in', new_user_session_path,class:"btn", method: :get%>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="main-cont">
      <div><%= notice %></div>
      <div><%= alert %></div>

      <div class="center-cont">
        
        <div class="left-pane">
          <%= yield %>
        </div>

        <div class="right-pane">
          <%= yield :right_pane %>
        </div>
      </div>
      
    </div>
  </body>
</html>
